body{
    background-color: rgb(83, 64, 64);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: aliceblue;
    text-align: center;
}
p{
    color: aliceblue;
    padding: 1px;
    margin: 25px;
}
.Container{
    border: 3px solid black;
    border-radius: 10px;

}